/* All styles for your header Components live here */
.header {
  border: 2px solid blue;

  .title {
    display: flex;
    h1 {
      font-size: 18px;
      margin-right: 5px;
    }
    .smalltitle {
      font-size: 14px;
      color: darkgray;
    }
  }

  .content {
    font-size: 14px;

    margin: 0;
    margin-bottom: 10px;
  }
}
